version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    container_name: threejs-scroll-animation

  dev:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3002:5173"
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
    container_name: threejs-scroll-animation-dev
